body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.elipse{
    position: relative;
    top: 80px;
    width: 500px;
    height: 500px;
    right: 250px;
    background-color: #49157C;
    filter: blur(128px);
    z-index: 0;
}

.component_1{
    margin-top: 65px;
}
.spacing-row{
    gap: 15px !important;
}
.title_name{
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
    color: #F7F8F9 !important;
}
.purple{
    color: #8649C4 !important;
}
.info_1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #F7F8F9 !important;
}
#description{
    font-family: "Poppins";
    font-weight: 400;
    size: 24px;
    color: rgb(248, 247, 249, 0.5);
}
.btn-project{
    background-color: transparent !important;
    width: 250px;
    height: 60px;
    border: 2px solid #F7F8F9;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagen{
    position: absolute;
    top: 250px;
    right: 160px;
    background-image: url("./img/Rectangle.gif");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    width: 500px;
    height: 400px;
    z-index: 2;
    size: 400px;
}
@media screen and (max-width:1200px) {
    .imagen{
        right: 100px;
        top: 270px;
    }
}
@media screen and (max-width:992px) {
    .imagen{
        right: 0px;
        top: 400px;
    }
}
@media screen and (max-width:768px) {
    .imagen{
        right: 100px;
        top: 700px;
    }
}
@media screen and (max-width:650px) {
    .imagen{
        right: 50px;
        top: 700px;
    }
}
@media screen and (max-width:576px) {
    .imagen{
        right: 0px;
        top: 650px;
    }
}
@media screen and (max-width:400px) {
    .imagen{
        left: 10px;
        top: 650px;
    }
}
@media screen and (max-width:304px) {
    .imagen{
        left: 10px;
        top: 700px;
    }
}
@media screen and (max-width:250px) {
    .imagen{
        left: 30px;
        top: 750px;
    }
}
@media screen and (max-width:150px) {
    .imagen{
        left: 0px;
        top: 800px;
    }
}